/*Layout styles*/
hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 1.35rem 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
 }
 @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  hr {
    border-width: .5px;
  }
}
.l-page {
  background: var(--bgColor);
  margin: 0;
  padding: 0;
  text-rendering : optimizeLegibility; /*optional*/
  font-variant-ligatures : common-ligatures
  discretionary-ligatures
  historical-ligatures;/*optional*/
  font-family: var(--fStackLato);
  font-size: var(--fSize);
  font-weight: var(--fWeight);
  line-height: var(--lineHeight);
  color: var(--fColor);
}
/*
.l-image {
  margin: 0;
  width: 100%;
  border: 0;
  outline: none;
}*/
.l-button {
  @applay --btn;
  &:hover, &:focus {
    background-color: var(--colorSecondary);
    color: var(--black);
  }
  &:active {
    background: var(--colorSecondary);
    color: var(--black);
  }
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
    &:hover {
      background-color: var(--colorPrimary);
    }
  }
}

.l-container{
  lost-center: 90em;
}

.l-main {
  lost-column: 1/1 0;
  background: blue;
  color: white;
}
.l-aside {
  lost-column: 1/1 0;
  background: tomato;
  color: white;
}



.part-1,
.part-2,
.part-3 {
  lost-column: 1/1  ;
  background: green;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
}
.article-box {
  padding: var(--smallSpacing);
}

.article-img {
  lost-column: 1/1 0;
}

.article-info {
  &__title {
    @apply --title;
    font-family: var(--fStackBadScript);
    font-size: calc(var(--fSize)*2);
  }
  &__text {
    @apply --text;
    & p {
      padding: var(--smallSpacing);
    }
  }
}




@custom-media --bp-small (min-width: 25em);
@custom-media --bp-medium (min-width: 40em);
@custom-media --bp-large (min-width: 60em);




@media (--bp-small){

   .l-main, .article-img, .article-info {
     lost-column: 1/1 0;
   }

   .l-aside {
     lost-column: 1/1 0;
     /*width: 100%;*/
   }
 }

@media (--bp-medium),(--bp-large){
  .l-main, .article-info {
    lost-column: 2/3 0;
  }
  .l-aside,.article-img {
    lost-column: 1/3 0;

  }
  .part-1,.part-2,.part-3 {
    lost-column: 1/3 1rem;
    font-size: 44px;
  }


  .part-3 {
    lost-move: -1/3;
  }
  .part-2 {
    lost-move: 1/3;
  }



}
